/* Changed so it matches what I had in run-buddy */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Moved the font-family to the body, so I can remove it from header and footer */
body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Created a proper title so I can remove these from being displayed as classes */
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* moved the footer to match the HTML format */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Consolidated benefit-lead,brand, and cost into one */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-all {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-all img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-all h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* changed the class names of float */
.left {
    float: left;
    margin-right: 25px;
}

.right {
    float: right;
    margin-left: 25px;
}

.content {
width: 75%;
display: inline-block;
margin-left: 20px;
}

/* changed this class to optimization */
.optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* changed name to content for the img and h2 category so I can consolidate them */
.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
